$color-primary: rgb(117, 49, 85);
$color-hoover: rgb(245, 41, 150);
$color-black: #000000;
$color-white: #ffffff;
$color-backgroundHome: #f6f6f6;


$degraderHome: linear-gradient(180deg, #ffffff00 0%, rgba(0, 0, 0, 0.5) 100%);